.containerDiv {
    display: flex;
    justify-content: space-around;
}

@media(max-width: 700px) {
    .containerDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

}

    .pictureDiv {
        height: 150px;
        width: 150px;
    }
}

.graphicDiv {
    padding: 10 px;
    margin: 20px;
}
.pictureDiv {
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    justify-content: center;
}

.summaryDiv {
    padding: 10 px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 85%;
    flex-wrap: wrap;
    justify-content: left;

}

.buttonDiv {
    justify-content: center;
}
.buttonStyle {
    border-radius: 10%;
}

