.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cardStyle {
    max-width: 350px;
    margin: 10px;
    border: solid;
    border-color: lightslategrey;
}

.buttonStyle {
    padding: 10px;
    margin: 10px;
    background-color: rgb(109, 130, 156);
    font-size: .75rem;
}

@media (max-width: 700px) {
    .project-container {
        max-width:100%;
        flex-direction: column;
    }
}