@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400&display=swap');  


.hero-image {
    /* background-image: url("src/assets/img/mark-tegethoff-lX-sxatAvqc-unsplash-1.jpg"); */
    height: 100px;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }

.hero-text {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 10%;
    transform: translate(-10%, -10%);
    font-size: 100px;
    color: rgb(109, 24, 24);
  }
